@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

$textWhite: #fafafa;
$textGold: #f6b004;
$transparentButton: #e9561636;
$zero: 0rem;
$constantSize: 1em;
$regularFont: 1.1rem;
$labelsDistance: 3vw;
$sideDistance: 4vw;
$topDistance: 4vh;
$oneThird: 30.2vw;
$artSize: 53.5vw;
$artHeight: 75vh;
$fadedElement: 60%;
$silverLine: 2px solid silver;

html,
body {
  font-family: 'Teko', sans-serif;
  font-size: $regularFont;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  margin: 1%;
}

.labels {
  font-size: 3em;
  &--top {
    // padding-top: 1rem; header.tsx -> wystarczajaco dobry rozmiar czcionki?
  }
  &__logo {
    font-size: 1.8em;
    h4 {
      font-size: 1.4em;
      font-weight: 300;
      letter-spacing: 0.7pt;
      text-decoration: $silverLine underline;
    }
    &--gold {
      color: $textGold;
      font-weight: 300;
    }
  }

  &__navbar {
    font-size: 10px;
  }

  &__footer {
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 0.4pt;
    margin: 1vh;
  }

  &__uppercase {
    text-transform: uppercase;
  }

  &__light {
    font-weight: 300;
    &--name {
      font-size: 2.3em;
      letter-spacing: 0.7pt;
    }
  }

  &__info {
    font-family: 'Lato', sans-serif;
    h4 {
      margin-block-start: 1vh;
      margin-block-end: 1vh;
      font-weight: 400;
    }
  }

  &__placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1.15vw;
  }
}

.element {
  &__line {
    border-bottom: $silverLine;
    &--lifted {
      margin-top: -3vh;
    }
  }

  &__button {
    &--nav {
      background: #0000;
      color: $textWhite;
      font-size: 1.2em;
      font-weight: 300;
      transform: scaleY(1.25);
      letter-spacing: -0.4pt;
      margin-right: 2em;
      border: none;
    }
    &--gallery {
      background: $transparentButton;
      color: $textGold;
      font-size: $regularFont;
      font-weight: 300;
      height: 2.3rem;
      width: 9rem;
      align-self: flex-end;
      margin-bottom: 4vh;
      border-radius: 50px;
      border: 1px solid $textGold;
      margin-top: 3vh;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    i {
      margin: 0.5vh;
    }
    &--hover a:hover {
      color: $textGold;
    }
    &--gold {
      color: $textGold;
      a :hover {
        color: $textWhite;
      }
    }
    &--red :hover {
      color: red;
    }
  }

  &__img {
    width: $oneThird;
    height: 30vh;
  }

  &__active {
    border: 1px solid $textGold;
  }

  &__hover :hover {
    text-decoration: $silverLine underline;
  }

  &__dimmed {
    opacity: $fadedElement;
  }

  &__gallery {
    background-color: black;
  }

  &__parent:hover {
    opacity: $fadedElement;
    // filter: blur(5px);
    .element__child {
      display: block;
    }
  }

  &__child {
    display: none;
  }
}

.position {
  display: flex;
  justify-content: space-between;
  padding: $zero $sideDistance;

  &__top {
    margin: 2vh $sideDistance $topDistance $sideDistance;
    display: flex;
    justify-content: space-between;
    &--header {
      margin-top: $topDistance;
      justify-content: flex-end;
    }
    &--navigation {
      margin-top: $topDistance;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 3rem;
    min-width: 92vw;
    margin-left: $sideDistance;
    margin-right: $sideDistance;
    &--on-line {
      justify-content: space-between;
      display: flex;
      .labels__logo--gold {
        display: none;
      }
    }
  }

  &__gallery {
    margin: 1rem $sideDistance 4rem $sideDistance;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: $zero;
    &--icons {
      margin: 1vh;
    }
  }

  &__artwork {
    margin-right: 4em;
    max-width: 14.1vw;
  }

  &__labels {
    margin: -1rem $sideDistance;
    &--name {
      margin-left: 1vw;
    }
    &--icon {
      margin-top: $constantSize;
    }
    &--first a:first-child {
      margin-right: $constantSize;
    }
    &--info {
      padding-top: 10vw;
      text-align: center;
      h4 {
        margin-block-start: $zero;
        margin-block-end: $zero;
      }
    }
  }
}

.background {
  &__placeholder {
    background-image: url('./IMG/goku-blue.jpg');
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center right;
    width: 100%;
    height: 100%;
    color: $textWhite;
    z-index: 1;
    &--black {
      background-image: url('./IMG/black-white.jpg');
    }
    &--white {
      background-image: url('./IMG/goku-white.png');
    }
    &--noy {
      background-image: url('./IMG/TheNoy.jpg');
      background-repeat: repeat;
      height: auto;
      background-position: center top;
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: $oneThird;
    height: $oneThird;
    &--about {
      width: 57vw;
      height: $artHeight;
    }
    &--big {
      width: 37.6vw;
      height: $artHeight;
    }
    &--small {
      width: 9.3vw;
      height: 24vh;
      margin-bottom: 1vh;
      margin-left: $sideDistance;
    }
    &--left {
      background-position: left center;
    }
    &--cat {
      background-image: url('./IMG/Catalyn.jpg');
    }
    &--duncan {
      background-image: url('./IMG/Duncan.jpg');
    }
    &--lia {
      background-image: url('./IMG/Lia.jpg');
    }
    &--man {
      background-image: url('./IMG/StickMan.jpg');
    }
    &--noy {
      background-image: url('./IMG/TheNoy.jpg');
    }
    &--wanda {
      background-image: url('./IMG/Wanda.jpg');
      background-position: center top;
    }
    &--black {
      background-image: url('./IMG/goku-black.jpg');
    }
    &--blue {
      background-image: url('./IMG/goku-blue.jpg');
    }
    &--white {
      background-image: url('./IMG/goku-white.png');
    }
    &--bwhite {
      background-image: url('./IMG/black-white.jpg');
    }
  }

  &__art {
    display: flex;
    width: $artSize;
  }

  &__black {
    width: 42.5vw;
    height: $artHeight;
    color: $textWhite;
  }

  &__about {
    background-image: url('./IMG/TheNoy.jpg');
    background-size: cover;
    background-position: center left;
    height: 100%;
    width: $artSize;
    z-index: -1;
  }
}
