@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

$textWhite: #fafafa;
$textGold: #f6b004;
$regularFont: 1.1rem;
$zero: 0rem;
$sideDistance: 4vw;
$transparentButton: #e9561636;
$fadedElement: 70%;
$silverLine: 2px solid silver;

html,
body {
  font-family: 'Teko', sans-serif;
  font-size: $regularFont;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  margin: 1%;
}

.labels {
  font-size: 3em;
  &__logo {
    font-size: 1.5em;
    &--gold {
      color: $textGold;
      font-weight: 300;
    }
  }

  &__navbar {
    font-size: 10px;
  }

  &__footer {
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 0.4pt;
    margin: 1vh;
  }
}

.element {
  &__line {
    &--bottom {
      border-bottom: $silverLine;
      margin-top: -3vh;
    }
    &--footer {
      border-bottom: $silverLine;
      opacity: $fadedElement;
    }
  }

  &__button {
    &--nav {
      background: #0000;
      color: $textWhite;
      font-weight: 300;
      margin-right: 1rem;
      border: none;
    }
    &--gallery {
      background: $transparentButton;
      color: $textGold;
      font-size: $regularFont;
      font-weight: 300;
      height: 2.3rem;
      width: 9rem;
      align-self: flex-end;
      margin-bottom: 4vh;
      border-radius: 50px;
      border: 1px solid $textGold;
      margin-top: 3vh;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    i {
      margin: 0.5vh;
    }
  }

  &__img {
    width: 31vw;
    height: 30vh;
  }
}

.position {
  display: flex;
  justify-content: space-between;
  padding: $zero $sideDistance;
  opacity: $fadedElement;

  &__top {
    margin: 4vh $sideDistance;
    display: flex;
    justify-content: space-between;

    &--header {
      justify-content: flex-end;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 3rem;
    min-width: 92vw;
    margin-left: $sideDistance;
    margin-right: $sideDistance;
    &--on-line {
      justify-content: space-between;
      display: flex;
    }
  }

  &__gallery {
    margin: 1rem $sideDistance;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: $zero;
    &--icons {
      margin: 1vh;
    }
  }
}

.background {
  &__placeholder {
    background-image: url('./IMG/goku-blue.jpg');
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center right;
    width: 100%;
    height: 100%;
    color: $textWhite;
    &--black {
      background-image: url('./IMG/black-white.jpg');
    }
    &--white {
      background-image: url('./IMG/goku-white.png');
    }
    &--noy {
      background-image: url('./IMG/TheNoy.jpg');
      background-repeat: repeat;
      height: auto;
      background-position: center top;
    }
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 31vw;
    height: 31vw;
    &--small {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
      width: 14vw;
      height: 18vw;
      margin: 1rem $zero;
      margin-left: $sideDistance;
    }
    &--cat {
      background-image: url('./IMG/Catalyn.jpg');
    }
    &--duncan {
      background-image: url('./IMG/Duncan.jpg');
    }
    &--lia {
      background-image: url('./IMG/Lia.jpg');
    }
    &--man {
      background-image: url('./IMG/StickMan.jpg');
    }
    &--noy {
      background-image: url('./IMG/TheNoy.jpg');
    }
    &--wanda {
      background-image: url('./IMG/Wanda.jpg');
      background-position: center top;
    }
    &--black {
      background-image: url('./IMG/goku-black.jpg');
    }
    &--blue {
      background-image: url('./IMG/goku-blue.jpg');
    }
    &--white {
      background-image: url('./IMG/goku-white.png');
    }
    &--bwhite {
      background-image: url('./IMG/black-white.jpg');
    }
  }
}
